.player-container{
   max-width: 100vw;
   min-height: 20vh;
   //background-color: lightblue;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;

   .timer-container{
    display: flex;
    //background-color: pink;
    width: 50%;
  
    input{
        width: 100%;
        padding: 1rem 0rem;
        
    }
    p{
        padding: 1rem;
    }
   }
   .control-container{
    padding:1rem;
  // background-color: antiquewhite;

    width: 30%;
    display: flex;
    justify-content: space-between;

    svg{
        cursor: pointer;
    }
   
   }
}
/**input*/
input[type=range]{
    appearance: none;
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
  
    background-color: rgba(166, 164, 164, 0.438);
    height: 100%;
    border-radius: 1rem;
    
   
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 10px;
   
  
   
}

input[type=range]:focus {
    outline: none;
}

.container{
    position: relative;
    overflow: hidden;
    width: 50rem;
    height: 3rem;
    
  //  overflow: hidden;
  
}
.onTop{
    position: absolute;
    width: 100%;
    height: 37%;
    top: 50%;
    left: 0;
    //click rom shevdzlo
    pointer-events: none;
    border-radius: 1rem;
    transform: translate(-100%,-50%);


}

