.song-container{
    font-size: 2rem;
    font-weight: 800;
    max-width: 100vw;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  // background-color: pink;

  img{
    width: 15%;
    border-radius: 50%;
  }
  h1{
    font-size:2rem ;
    color: rgba(0, 0, 0, 0.854);
  }
  h2{
   font-size: 1rem;
   color: rgba(0, 0, 0, 0.709);
  }
}
